<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="updateCategory()" enctype="multipart/form-data">
    <div style="width: 80%; margin: auto; margin-top: 25px;">
      <label style="color: green;" class="myValid-2">{{message}}</label>
      <label style="color: red;" class="myValid-2">{{message2}}</label>

      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
      <div *ngIf="myValid['name'].touched && myValid['name'].invalid" style="color: red;">
        <div *ngIf="myValid['name'].errors?.['required']">Name is required</div>
        <div *ngIf="myValid['name'].errors?.['minlength']">Name must be at least 3 characters long</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input type="file" id="image" (change)="onFileChange($event)" class="form-control">
      </div>
      <div *ngIf="myValid['image'].touched && myValid['image'].invalid" style="color: red;">
        <div *ngIf="myValid['image'].errors?.['required']">Image is required</div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="form.invalid">Update Category</button>
    </div>
  </form>
</div>
