<header class="masthead text-white ">
        <div class="overlay"></div>
        <div class="container slider-top-text">
            <div class="row">
                <!-- <div class="col-md-12 text-center">
                    <h3 class="my-heading">WELCOME TO <span class="bg-main">HEALTH</span></h3>
                    <p class="myp-slider text-center">Where musicians unite and become better together</p>
                    <p class="myp text-center">SHARE YOUR MEMORIES   |   CONNECT WITH OTHERS   |   MAKE NEW FRIENDS</p>

                </div> -->
                <!-- <div class="col-md-12 text-center mt-5">
                    <div class="scroll-down">
                        <a class="btn btn-default btn-scroll floating-arrow" href="#gobottom" id="bottom"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div> -->
            </div>
        </div>
    </header>

    <section class="testimonials" id="gobottom">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="big-img">
                        <img src="assets/preexy.jpg" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="inner-section wow fadeInUp">
                        <h3>Simple Steps To Have a <span class="bg-main">Health Lifestyle</span></h3>
                        <br>
                        <p class="text-justify">Prioritising a Healthy Lifestyle can be challenging amidst the fast-paced nature of contemporary living. Yet, it's imperative to recognise that adopting a Healthy Lifestyle extends beyond merely exercising at the gym or embracing fleeting diet trends. </p>

                        <div class="linear-grid">
                            <div class="row">
                                <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s" >
                                    <img src="assets/drinking-water.jpg" class="img-thumbnail">
                                </div>
                                <div class=" col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                    <img src="assets/running.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                    <img src="assets/sleeping.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                    <img src="assets/yoga.jpg" class="img-thumbnail">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials mybg-events">

        <div class="container">
            
            <div class="row">
                <!-- <div class="col-md-12 wow fadeInUp">
                    <h3 class="title-heading text-center">MOJOAVE EVENTS</h3>
                    <p class="myp text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div> -->
            </div>
            <div class="row wow slideInLeft" data-wow-duration="3s">
                <div class="col-md-4 mb-3">
                    <div class="big-img2">
                        <!-- <img src="https://images.pexels.com/photos/167527/pexels-photo-167527.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="img-fluid"> -->
                    </div>
                    
                </div>
                <div class="col-md-8">
                    <div class="inner-section">
                        <div class="my-grid">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 mb-3">
                                   
                                    <!-- <img src="https://images.pexels.com/photos/761963/pexels-photo-761963.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="img-fluid"> -->
                                    
                                </div>
                                <div class="col-sm-6 col-md-8 mb-3 ">
                                    
                                    <!-- <img src=" https://images.pexels.com/photos/164693/pexels-photo-164693.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="img-fluid"> -->
                                
                                </div>

                                <div class="col-md-8">
                                    <div class="text-block">
                                        <h5 class="events-heading">The benefits of healthy eating.</h5>
                                        <p class="myp-font">It can be helpful to think about what a 'healthy balanced diet '' means. This is especially true if you're unsure about whether you want to start changing what you eat or the way you eat.

                                          Along with cutting back on alcohol, smoking less and being more active, eating well is one of the best things you can do to prevent certain diseases and maintain your overall health. But there are other benefits too.</p>
                                    </div>
                                </div>
                                <div class=" col-md-4 ">
                                     
                                    <!-- <img src="https://images.pexels.com/photos/1150837/pexels-photo-1150837.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="img-fluid"> -->
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials bg-light" id="marketplace">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-8 mx-auto wow fadeInUp">
                    <h3 class="text-center font-weight-bold">MOJO<span class="bg-main">AVE</span> MARKET PLACE</h3>
                    <p class=" text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div> -->
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto wow fadeInUp">
                        <h3 class="text-center font-weight-bold">Best <span class="bg-main">Sellers</span></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4 mt-4 wow bounceInUp" data-wow-duration="1.4s" *ngFor="let meal of meals">
                      <div class="card">
                        <img class="card-img-top h-262" [src]="meal.image" alt="{{ meal.title }}">
                        <div class="card-block">
                          <h4 class="card-title">{{ meal.title }}</h4>
                          <div class="card-text">
                            <p>{{ meal.description }}</p>
                          </div>
                        </div>
                        <div class="card-footer">
                          <small>{{ meal.price }}</small>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            
        </div>
    </section>