body {
    font-family: 'Open Sans', sans-serif !important;
    background: #fff;
    color: #222;
}

/* Navbar */
.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
}
.mybg-dark {
    background: #000000 !important;
}

/* Masthead */
header.masthead {
    position: relative;
    height: 80vh;
    background: url('https://www.slideegg.com/image/multi_slide/65973/89051-Healthy-Lifestyle-PowerPoint-Template_01.PNG') no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
header.masthead .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .3;
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    header.masthead h3 {
        font-size: 4rem;
    }
}

/* Testimonials */
.testimonials {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Forms */
.myform-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button.btn.btn-light {
    position: absolute;
    background: transparent;
    border: none;
    height: 38px;
    right: 23px;
}

a.btn.btn-default.btn-scroll {
    border: 2px solid #fff;
    color: #fff;
    border-radius: 100%;
}

/* Images */
.big-img img {
    height: 325px;
    width: 100%;
    object-fit: cover;
}
.big-img2 img {
    height: 472px;
    width: 100%;
    object-fit: cover;
}
.my-grid img {
    height: 228px;
    width: 100%;
    object-fit: cover;
}
.linear-grid img {
    width: 100%;
    height: 124px;
    object-fit: cover;
}

/* Inner Section */
.inner-section {
    position: relative;
}
.inner-section h3 {
    text-transform: uppercase;
    font-weight: bold;
}
.inner-section h3:after {
    content: '';
    position: absolute;
    border-bottom: 4px solid #008ba3;
    width: 100%;
    max-width: 10%;
    top: 37px;
    left: 0;
}
span.bg-main {
    color: #0c7c4d;
}

/* Container */
.container.slider-top-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Section About */
section#about {
    width: 100%;
    padding-top: 2.1rem;
    padding-bottom: 2.1rem;
}

/* Buttons */
.btn-circle {
    border-radius: 50%;
}
.my-social-btn {
    background: lightgrey;
}
.card:hover .my-social-btn.fb {
    background: #205b9f;
}
.card:hover .my-social-btn.twitter {
    background: #00ace3;
}
.card:hover .my-social-btn.google {
    background: #ff3921;
}
a.btn.btn-circle.my-social-btn {
    color: #fff;
    height: 40px;
    width: 40px;
}

/* Borders */
hr.my-border {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid #0c7c4d !important;
    width: 117px;
}

/* Backgrounds */
.mybg-events {
    background: url('https://youaligned.com/wp-content/uploads/2022/05/7-healthy-food-blogs-feature.jpg') no-repeat center center fixed;
    background-size: cover;
}
.mybg-music {
    background: url('https://images.pexels.com/photos/1267317/pexels-photo-1267317.jpeg?auto=compress&cs=tinysrgb&h=650&w=940') no-repeat center center fixed;
    background-size: cover;
}

/* Text Alignments */
h3.my-heading {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}
h3.title-heading.text-center {
    color: #fff;
    font-weight: bold;
}
p.myp.text-center {
    color: #fff;
    font-size: 14px;
    margin-bottom: 3rem;
}
.text-block {
    min-height: 228px;
    height: auto;
    background: #fff;
    padding: 15px;
}
h5.events-heading {
    font-weight: bold;
    font-size: 25px;
    color: #0c7c4d;
}
p.myp-font {
    font-size: 15px;
}
.my-right-text {
    padding-top: 3rem;
}

/* Cards */
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none !important;
    border-radius: .28571429rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none !important;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}
.card-img-top {
    display: block;
    width: 100%;
    height: 200px; /* Set the desired height */
    object-fit: cover; /* Ensure the image covers the entire area without distorting */
    transition: transform 0.3s ease;
}
.card:hover .card-img-top {
    transform: scale(1.05);
}
.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}
.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}
.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}
.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

/* Side Navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-right: 15px;
}
#main {
    display: none;
    float: right;
    transition: margin-right .5s;
}
a.openNav {
    font-size: 26px;
    color: #ffffff;
    text-decoration: none;
}
.sidenav .nav-link {
    font-size: 13px;
    font-weight: bold; /* Add the missing semicolon here */
}
.mob-ul {
    list-style-type: none;
    padding-left: 0;
}
.sidenav li {
    padding: 0 3px !important;
    position: relative;
}
.sidenav li a {
    padding: 10px 15px;
    text-transform: uppercase;
}
.sidenav ul li:hover .nav-link {
    color: #
}