<!-- src/app/login/login.component.html -->
<div class="container">
  <div class="left">
    <img src="https://media.istockphoto.com/id/1208604845/vector/healthy-lifestyle-and-self-care-concept.jpg?s=612x612&w=0&k=20&c=4RXl4xGUFpQWHf_LVBRngZRsikqw8BOc51poaItPxMU=" alt="Healthy food">
    <h1>We at Healthy Life</h1>
    <p>are always fully focused on helping you achieve your wellness goals.</p>
  </div>
  <div class="right">
    <div class="form-container">
      <div class="divider"><span>Welcome to The World of Health</span></div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-3">
          <input type="email" placeholder="Email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': myValid['email'].touched && myValid['email'].invalid}">
          <div *ngIf="myValid['email'].touched && myValid['email'].invalid" class="invalid-feedback">
            <div *ngIf="myValid['email'].errors?.['required']">Email is required.</div>
            <div *ngIf="myValid['email'].errors?.['email']">Invalid email format.</div>
          </div>
        </div>
        <div class="mb-3">
          <input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': myValid['password'].touched && myValid['password'].invalid}">
          <div *ngIf="myValid['password'].touched && myValid['password'].invalid" class="invalid-feedback">
            <div *ngIf="myValid['password'].errors?.['required']">Password is required.</div>
            <div *ngIf="myValid['password'].errors?.['minlength']">Password must be at least 6 characters long.</div>
          </div>
        </div>
        <button class="btn-submit" type="submit">Login</button>
      </form>
      <div *ngIf="loginError" class="alert alert-danger mt-3">{{ loginError }}</div>
    </div>
  </div>
</div>
