.image {
    width: 100%;
    height: 600px;
    border: 1px solid #28b66c;
    border-radius: 20px;
}
hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(14, 71, 36, 0.75), rgba(0, 0, 0, 0));
    margin: 20px 0;
}
.card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.card-video {
    width: 40%;
    height: 300px; /* Adjust this value to make the video height bigger */
    border-radius: 0 0 0 50px;
    overflow: hidden;
}
.card-body {
    padding: 1rem;
    width: 60%;
}
h5 {
    color: #218c54;
}
.card-body-text {
    color: #333;
    margin-bottom: 15px;
}
.card-text ul {
    list-style-type: none;
    padding: 0;
}
.card-text li {
    margin-bottom: 10px;
}
.number4vid {
    width: 100%;
    height: 100%; /* Ensure the iframe takes the full height of its container */
    border: none;
    border-radius: 0 0 0 50px;
}
