.container {
  max-width: 90%;
  height: 900px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* background-image: url('https://t4.ftcdn.net/jpg/04/33/38/31/360_F_433383199_z1mLbi6GTKBmrtauE7sToBWPSfTdkUGa.jpg');  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 12px;
  text-align: left;
  color: black !important;
}

.table th {
  background-color: #f2f2f2;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
